[Unit]
AssertPathExists=/usr/bin/wifi-setup
AssertPathExists=/usr/share/wifi-setup/static

[Service]
WorkingDirectory=/usr/share/wifi-setup
Environment="ROCKET_ENV=prod"
ExecStart=/usr/bin/wifi-setup
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=wifi-setup
WantedBy=default.target
