<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Connect to {{ssid}}</h1>
        <div id="connect">
            <form action="/connect", method="post">
                <input type="hidden" id="ssid" name="ssid" value="{{ssid}}">
                <input class="text" placeholder="Password" type="password" id="pw", name="pw">
                <br>
                <br>
                <input class="button"  type="submit" value="Connect">
            </form>
        </div>
    </body>
</html>
